In [73]:
# Importing essential libraries
import tweepy
import pandas as pd
from datetime import datetime

In [74]:
# Authorization & Connection to Twitter API using Tweepy
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAHYabQEAAAAAvw0hWydZNRSnU9G%2BHFL2VYwH9wk%3De1QXuj2GAlRofwZp6ee0lSpBGsW6zEel3wCL6VWM3Go8DS3KSv'
client = tweepy.Client(bearer_token = BEARER_TOKEN)

In [94]:
# Function that returns Tweet Counts and Buzz Score for a list of arguments
def tweetCount(queries):
    tweets = client.get_recent_tweets_count(query = queries[0], 
                                            granularity = 'minute', 
                                            start_time = '2022-04-08T03:45:00Z', 
                                            end_time = '2022-04-09T10:00:00Z')
    total = pd.DataFrame(tweets.data)
    total.columns = ['End', 'Start', 'Tweet Count']
    total.set_index('Start')
    for i in range(1, len(queries)):
        tweets = client.get_recent_tweets_count(query = queries[i], 
                                                granularity = 'minute', 
                                                start_time = '2022-04-08T03:45:00Z', 
                                                end_time = '2022-04-09T10:00:00Z')
        df = pd.DataFrame(tweets.data)
        df.columns = ['End', 'Start', 'Tweet Count']
        df.set_index('Start')
        total['Tweet Count'] = total['Tweet Count'] + df['Tweet Count']
    total['Start'] = pd.to_datetime(total['Start'])
    total.set_index('Start', inplace = True)
    total[queries[0]] = (total['Tweet Count'] - total['Tweet Count'].min()) / (total['Tweet Count'].max() - total['Tweet Count'].min())       
    return total

In [95]:
# Individual Counts and Buzz Score for HDFC related tweets
hdfc = tweetCount(['HDFC', 'HDFC Life', 'HDFC Bank'])
hdfc

                                                End  Tweet Count      HDFC
Start
2022-04-08 03:45:00+00:00  2022-04-08T03:46:00.000Z           11  0.305556
2022-04-08 03:46:00+00:00  2022-04-08T03:47:00.000Z           11  0.305556
2022-04-08 03:47:00+00:00  2022-04-08T03:48:00.000Z            6  0.166667
2022-04-08 03:48:00+00:00  2022-04-08T03:49:00.000Z            8  0.222222
2022-04-08 03:49:00+00:00  2022-04-08T03:50:00.000Z            6  0.166667
...                                             ...          ...       ...
2022-04-09 09:55:00+00:00  2022-04-09T09:56:00.000Z            4  0.111111
2022-04-09 09:56:00+00:00  2022-04-09T09:57:00.000Z            2  0.055556
2022-04-09 09:57:00+00:00  2022-04-09T09:58:00.000Z            6  0.166667
2022-04-09 09:58:00+00:00  2022-04-09T09:59:00.000Z            0  0.000000
2022-04-09 09:59:00+00:00  2022-04-09T10:00:00.000Z            2  0.055556

[1815 rows x 3 columns]

In [96]:
# Everything relevant to Reliance stock
reliance = tweetCount(['Reliance', 'Ambani', 'Jio'])
reliance

                                                End  Tweet Count  Reliance
Start
2022-04-08 03:45:00+00:00  2022-04-08T03:46:00.000Z            6  0.162162
2022-04-08 03:46:00+00:00  2022-04-08T03:47:00.000Z            6  0.162162
2022-04-08 03:47:00+00:00  2022-04-08T03:48:00.000Z            7  0.189189
2022-04-08 03:48:00+00:00  2022-04-08T03:49:00.000Z            7  0.189189
2022-04-08 03:49:00+00:00  2022-04-08T03:50:00.000Z            9  0.243243
...                                             ...          ...       ...
2022-04-09 09:55:00+00:00  2022-04-09T09:56:00.000Z            6  0.162162
2022-04-09 09:56:00+00:00  2022-04-09T09:57:00.000Z            4  0.108108
2022-04-09 09:57:00+00:00  2022-04-09T09:58:00.000Z           10  0.270270
2022-04-09 09:58:00+00:00  2022-04-09T09:59:00.000Z            3  0.081081
2022-04-09 09:59:00+00:00  2022-04-09T10:00:00.000Z            0  0.000000

[1815 rows x 3 columns]

In [97]:
# Steel being a generic word, maybe we can use a geographical param in retrieving India specific data
sail = tweetCount(['SAIL', 'steel', 'PSU'])
sail

                                                End  Tweet Count      SAIL
Start
2022-04-08 03:45:00+00:00  2022-04-08T03:46:00.000Z           17  0.093333
2022-04-08 03:46:00+00:00  2022-04-08T03:47:00.000Z           19  0.120000
2022-04-08 03:47:00+00:00  2022-04-08T03:48:00.000Z           24  0.186667
2022-04-08 03:48:00+00:00  2022-04-08T03:49:00.000Z           28  0.240000
2022-04-08 03:49:00+00:00  2022-04-08T03:50:00.000Z           36  0.346667
...                                             ...          ...       ...
2022-04-09 09:55:00+00:00  2022-04-09T09:56:00.000Z           18  0.106667
2022-04-09 09:56:00+00:00  2022-04-09T09:57:00.000Z           17  0.093333
2022-04-09 09:57:00+00:00  2022-04-09T09:58:00.000Z           23  0.173333
2022-04-09 09:58:00+00:00  2022-04-09T09:59:00.000Z           17  0.093333
2022-04-09 09:59:00+00:00  2022-04-09T10:00:00.000Z           18  0.106667

[1815 rows x 3 columns]

In [128]:
# Combined Buzz Scores for comparison
buzz_scores = pd.DataFrame(columns = ['Start', 'Reliance', 'HDFC', 'SAIL'])
buzz_scores['Start'] = reliance.reset_index()['Start']
buzz_scores['Reliance'] = reliance.reset_index()['Reliance']
buzz_scores['HDFC'] = hdfc.reset_index()['HDFC']
buzz_scores['SAIL'] = sail.reset_index()['SAIL']
buzz_scores.set_index('Start')

                           Reliance      HDFC      SAIL
Start
2022-04-08 03:45:00+00:00  0.162162  0.305556  0.093333
2022-04-08 03:46:00+00:00  0.162162  0.305556  0.120000
2022-04-08 03:47:00+00:00  0.189189  0.166667  0.186667
2022-04-08 03:48:00+00:00  0.189189  0.222222  0.240000
2022-04-08 03:49:00+00:00  0.243243  0.166667  0.346667
...                             ...       ...       ...
2022-04-09 09:55:00+00:00  0.162162  0.111111  0.106667
2022-04-09 09:56:00+00:00  0.108108  0.055556  0.093333
2022-04-09 09:57:00+00:00  0.270270  0.166667  0.173333
2022-04-09 09:58:00+00:00  0.081081  0.000000  0.093333
2022-04-09 09:59:00+00:00  0.000000  0.055556  0.106667

[1815 rows x 3 columns]